{% extends "base.html" %}
{% block content %}
      <!-- about section start --> 
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-sm-12">
                  <!-- <div class="about_img"><img src="/static/images/about-img.png"></div>clock_tower1.jpg -->
                  <div class="about_img"><img src="/static/images/clock_tower1 (2).jpg"></div>

                  <div class="like_icon"><img src="/static/images/like-icon.png"></div>
                  <!-- <p class="post_text">Post By : 09/06/2019</p> -->
                  <h2 class="most_text">Dehradun Clock Tower</h2>
                  <p class="lorem_text">
                     Clock tower, also known as "ghanta ghar" is a very famous tourist attraction. It was started in the year 1948 and got completed in 1953. The much respected Lal Bahadur Shastri inaugurated the monument. It was a renowned landmark of the city and was built by the British before India got its independence.</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <!-- <li><a href="#"><img src="/static/images/fb-icon.png"></a></li>
                           <li><a href="#"><img src="/static/images/twitter-icon.png"></a></li>
                           <li><a href="#"><img src="/static/images/instagram-icon.png"></a></li> -->
                        </ul>
                     </div>
                     <!-- <div class="read_bt"><a href="#">Read More</a></div> -->
                  </div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <!-- <div class="image_5"><img src="/static/images/img-5.png"></div>myprofile.jpg -->
                  <div class="image_5"><img src="/static/images/myprofile.jpg"></div>
                  <h1 class="about_taital">About Us</h1>
                  <p class="about_text">Doon Journal was founded on 20th may 2023 by Anurag Rawat . which publishes the blogs and information about the  famous places/ culture/ events of Uttrakhand and
                  and other social updates of the different genre such as Sports, Technology,Politics etc.
                  </p>
                  <!-- <div class="read_bt_1"><a href="#">Read More</a></div> -->
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- footer section start -->
{% endblock %}