{% extends "base.html" %}
{% block content %}
      <!-- blog section start 
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-sm-12">
                  <div class="about_img"><img src="/static/images/img-8.png"></div>
                  <div class="like_icon"><img src="/static/images/like-icon.png"></div>
                  <p class="post_text">Post By : 09/06/2019</p>
                  <h2 class="most_text">Most Awesome Blue Lake With Snow <br>River</h2>
                  <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <li><a href="#"><img src="/static/images/fb-icon.png"></a></li>
                           <li><a href="#"><img src="/static/images/twitter-icon.png"></a></li>
                           <li><a href="#"><img src="/static/images/instagram-icon.png"></a></li>
                        </ul>
                     </div>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="about_main">
                     <h1 class="follow_text">CONNECT & FOLLOW</h1>
                     <div class="follow_icon">
                        <ul>
                           <li><a href="#"><img src="/static/images/fb-icon-1.png"></a></li>
                           <li><a href="#"><img src="/static/images/twitter-icon-1.png"></a></li>
                           <li><a href="#"><img src="/static/images/linkedin-icon-1.png"></a></li>
                           <li><a href="#"><img src="/static/images/instagram-icon-1.png"></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
      <!-- blog section end --> 
      <!-- newsletter section start --> 
      <!-- <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-sm-12">
                  <div class="about_img"><img src="/static/images/img-9.png"></div>
                  <div class="like_icon"><img src="/static/images/like-icon.png"></div>
                  <p class="post_text">Post By : 09/06/2019</p>
                  <h2 class="most_text">Most Awesome Blue Lake With Snow <br>sky</h2>
                  <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <li><a href="#"><img src="/static/images/fb-icon.png"></a></li>
                           <li><a href="#"><img src="/static/images/twitter-icon.png"></a></li>
                           <li><a href="#"><img src="/static/images/instagram-icon.png"></a></li>
                        </ul>
                     </div>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="newsletter_main">
                     <h1 class="newsletter_taital">NEWSLETTER</h1>
                     <div class="input_box">
                        <input type="text" class="input_text" placeholder="Enter Your email" name="Enter Your email">
                        <input type="text" class="input_text" placeholder="Your name" name="Your name">
                        <div class="send_text"><a href="#">Subscribe</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
      <!-- newsletter section end --> 
      <!-- recent section start --> 
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-7 col-sm-7">
                  <div class="about_img">{% if main_article.main_home_image %} <img src="/static/{{ main_article.main_home_image.url }}"> {% endif %} </div>
                  <div class="like_icon"><img src="/static/images/like-icon.png"></div>
                  <p class="post_text">Posted on : {{main_article.release_date}}</p>
                  {% if main_article.source %}
                     <p class="post_text">Source: {{main_article.source}}</p>
                  {% endif %}
                  <h2 class="most_text">{{main_article.art_title}}</h2>
                  <p class="lorem_text">{{ main_article.description|slice:":500"|striptags }}...........</p>
                  <!-- <p class="lorem_text">{{ main_article.description| safe }}</p> -->
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <!-- <li><a href="#"><img src="/static/images/fb-icon.png"></a></li>
                           <li><a href="#"><img src="/static/images/twitter-icon.png"></a></li>
                           <li><a href="#"><img src="/static/images/instagram-icon.png"></a></li> -->
                        </ul>
                     </div>
                     <div class="read_bt"><a href="/updates/{{main_article.slug}}/">Read More</a></div>
                  </div>
               </div>
               <div class="col-lg-5 col-sm-5">
                  <h1 class="recent_taital">Recent post</h1>
                  <div class="newsletter_main">
                     
                     {% for art in recent_articles %}
                        <a href="/">
                           <div class="recent_box">
                              <div class="recent_left">
                                 <div class="image_6">{% if art.image_icon %}<img src="/static/{{art.image_icon.url}}"> {% endif %}</div>
                              </div>
                              <div class="recent_right">
                                 <h3 class="consectetur_text">{{art.art_title}}</h3>
                                 <!-- <p class="dolor_text">{{ art.description|slice:":80" | safe   }}.. </p> -->
                              </div>
                              <div class="read_bt"><a href="/updates/{{art.slug}}/">Read More</a></div>
                           </div>
                        </a>

                     {% endfor %}
                     
                  </div>
               </div>

            </div>
         </div>
      </div>
      <!-- recent section end --> 
      <!-- tag section start -->
{% endblock %}